# Set the default behavior
* text=auto encoding=utf-8

# Configuration files
*.conf text eol=lf
*.yml text eol=lf
*.prop text eol=lf

# Source files
*.c text eol=lf
*.cpp text eol=lf
*.py text eol=lf
*.lua text eol=lf

# Scripts
META-INF/** text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

# Documentation
*.spdx text eol=lf
*.md text eol=lf
*.rst text eol=lf
*.xml text eol=lf
*.html text eol=lf
*.css text eol=lf

# Tools
*.exe binary
busybox* binary
keycheck* binary

# Apps / Libraries
*.apk binary
*.jar binary

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
